.group
  =f.label :description
  =f.error_message_on :description
  =f.text_field :description, :class => :text_field
  =f.label :pin
  =f.error_message_on :pin
  =f.text_field :pin, :class => :text_field
  =f.label :number
  =f.error_message_on :number
  =f.text_field :number, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:conferences, :index)}';return false", :class => :button
