.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:conferences, :index)
      %li.active=link_to pat(:new), url(:conferences, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:conference)
    .inner
      -form_for :conference, url(:conferences, :create), :class => :form do |f|
        =partial "conferences/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")